h1{
    color:blanchedalmond;
    text-align: center;
    margin-top: 40px;
    font-size: 100px;
    
}
body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 50px;
}
/* body{
    color: black;
} */
/* .add{
    color: rgb(59, 33, 14);
    width: 100px;
    height: 60px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    right: 29%;
} */
.add-button{
    color: rgb(59, 33, 14);
    font-weight: bold;
    position: absolute;
    top: 45%;
    right: 30%;
}
.center-left{
    color: rgb(59, 33, 14);
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 27%;
}

.strong{
    word-spacing: 4px;
}
ol{
    color: rgb(59, 33, 14);
    font-size: 14px;
    position: absolute;
    top: 44%;
    left: 15%;
    /* word-spacing: 2px; */
}
.book-form{
    display: flex;
    gap: 10px;
    top: 45%;
    right: 30%;
    margin-top: 55px;
}


