h1{
    color:blanchedalmond;
    text-align: center;
    margin-top: 40px;
    font-size: 100px;
    
}
body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 50px;
}
/* body{
    color: black;
} */
h2{
    color: rgb(59, 33, 14);
    font-weight: bold;
    font-size: 75px;
    position: absolute;
    top: 30%;
    right: 21%;
    font-family: 'La Belle Aurore', cursive;
    gap: 15px;
}
.center-left{
    color: rgb(59, 33, 14);
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 27%;
    font-family: 'La Belle Aurore', cursive;
}

.strong{
    word-spacing: 4px;
}
ol{
    color: rgb(59, 33, 14);
    font-size: 15px;
    position: absolute;
    top: 49%;
    left: 16%;
    font-family: 'La Belle Aurore', cursive;
    /* word-spacing: 2px; */
}
.book-form{
    position: absolute;
    top: 65%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 300px;
    right: 22%;
    /* position: absolute; */

}
.book-form input,
.book-form textarea {
    height: 60px;
    font-size: 18px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

.add{
    color: rgb(59, 33, 14);
    width: 100px;
    height: 60px;
    font-weight: bold;
    position: absolute;
    top: 115%;
    right: 30%;
}
.add button{
    font-size: 25px;
    padding: 10px 8px;
    border-radius: 8px;
    font-family: 'La Belle Aurore';
    background-color: transparent;
    border: 1px transparent;
    cursor: pointer;

}
.book-number{
    color: rgb(59, 33, 14);
    font-size: 30px;
    position: absolute;
    top: 810px;
    left: 30.25%;
    font-weight: bold;
    font-family: 'La Belle Aurore', cursive;
}
.book-number-2{
    color: rgb(59, 33, 14);
    font-size: 30px;
    position: absolute;
    top: 805px;
    right: 31.5%;
    font-weight: bolder;
    font-family: 'La Belle Aurore', cursive;
}


